{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "eslint-plugin-cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-console": 0
  }
}